<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="<%= path==='/' ? 'active' : '' %>" href="/">Home</a></li>
                <li><a class="<%= path==='/users' ? 'active' : '' %>" href="/">User List</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page Not Found!</h1>
</body>
</html>